
form {
padding-top: 2em;
margin: auto;
width: 20em;
height: 20em;
border: 5px solid black;
border-radius: 10px;
background-color: aliceblue;
display: -webkit-flex;
display: flex;
flex-wrap: wrap;
}

input {
width: 50px;
height: 22px;
border: 5 solid;
margin: 5px;
background-color: lightblue;
text-align: center;
}

output {
border: 5px solid;
  width: 15em;
  height: 5em;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 2px;
}

#display {
 display: flex;
 flex-wrap: wrap;
 list-style: none;
}

ul {
 display: flex;
 flex-wrap: wrap;
 list-style: none;
}

.operators {
 display: flex;
}
